
#topTool{
  background-color: 	#003580;
  height: 140px;
  width: 100%;
}
.TopToolStyle{
  font-size: 15px;
  color: white;
  font-family: arial;
  position: absolute;
}
#bookingIcon{
  position: absolute;
  top: 2%;
  left: 2%;
}
#israelIcon{
  height: 20px;
  width: 20px;
  object-fit: contain;
  position: absolute;
  top: 5%;
  left: 57%;

}
#turnToFriendsTxt{
  margin-left: 5px;
  top: 5%;
  left: 61%;
}
#addYourHostPlaceTxt{
  top: 4%;
  left: 73%;
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  font-weight: bold;
  padding: 4px;

  }
  #addYourHostPlaceTxt:hover{
    background-color: #1377C4;
  }
  #signUpButton{
    border-radius: 3px;
      top: 3.5%;
        left: 86%;
          position: absolute;
          font-family: arial;
          padding: 7px;
          background-color: white;
          color: #404040;
          font-family: arial;
          font-weight: bold;
  }
  #signInButton{
    border-radius: 3px;
      top: 3.5%;
        left: 92%;
          position: absolute;
          font-family: arial;
          padding: 7px;
          background-color: white;
          color: #404040;
          font-family: arial;
          font-weight: bold;
  }
  #signInHoverTxt{

  }
  #searchPlaceDvStyle{
    width: 100%;
    height: 40%;
    background-color: #f7f7f7;
  }
  #signInHover{

    top:15%;
    left: 70%;
    width: 20%;
    height: 20%;
    background-color: white;

    opacity: 0;
      position: absolute;
      border-radius: 5px;
      font-family: arial;
      box-shadow: 0 4px 8px 0 ;
      padding: 9px;
  }

  #signInButtonInSideSignInButton{
    position: absolute;
    border-radius: 5px;
    font-family: arial;
    background: #0D76C6;
    color: white;
  margin-left: 40%;
  font-size: 16px;
  padding: 7px;

  }
  #signInButton:hover{
    color: #2792E4;
  }
  #signUpButton:hover{
    color:#2792E4;
  }
  #divButtonHover:hover #signInHover {

        opacity: 1;
  }
#divButtonHover{
  height: auto;
}

  #noHaveAccountMsg{
   top: 88%;
      font-family: arial;

      position: absolute;
  }
    #noHaveAccountMsgLink{
      top: 88%;
         font-family: arial;

         position: absolute;
         margin-left: 45%;
         margin-bottom: 5px;
    }
    #HostLocationButton{

    }
.navButtonStyle{
  font-family: arial;
  position: absolute;
  top:17%;
  padding: 8px;
    background-color: 	#003580;
    border: 0;
    color: white;
    font-size: 16px;

}
#flightsButton{
  left: 10%;
}
#carRentalButton{
    left: 15%;
}
#airPortTaxiButton{
      left: 23%;
}
.navButtonStyle:hover{
  background-color: #1a4a8d;

}


#findDealTxt{

  font-size: 20px;
  font-family: arial;
  font-weight: bold;

}
#underFindDealsTxt{
    font-size: 16px;
      font-family: arial;
}

#underNavDivTxt{
  height: 15%;
  margin-top: 3%;

}

#searchingInfoTable{
    border: 4px solid  #febb02;
    border-radius: 2px;
    width: 80%;
      height: 11%;
      border-collapse: collapse;
      position: absolute;
      top:45%;
      left: 10%;
      right: 15%;
}

.searchingInfoTableClass{
border-style: solid;
border-color: #febb02;
border-width: 4px;

}
#firstTdStyle{
  width: 30%;

}
#searchInput{
  width:80%;
  height: 100%;
  border: 0;
  font-size: 20px;
  color: #33322E;
}
#checkInTxt{
  margin-left: 5%;
  top: 5%;
  color: #33322E;
  position: absolute;
}
#checkOutTxt{
top: 5%;
margin-left: 5%;
color: #33322E;
position: absolute;
}
.datesClass{
height: 55%;
margin-left: 5%;

}
#checkInTd{
  width: 34%;
}
#spinnerId{
  height: 100%;
width: 100%;
border: 0;
font-size: 20px;
color: #33322E;
}
#spinnerIdTd{
    width:12%;
}
#searchButtonId{
  height: 100%;
  background-color: #0077cc;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  width: 100%;
}
#searchButtonTd{
  width: 10%;
}
#searchButtonId:hover{
  background-color: #003580;
}
.searchingInfoTableClass:hover{
  box-shadow:         inset 0 0 4px black;
}
#businessTripTxt{
  font-size: 16px;
    font-family: arial;
  left: 15%;
    position: absolute;
    top: 60%;
}
#squreCheckBoxStyle{
    margin-left: 10%;
    font-size: 20px;
    transform: scale(2);
position: absolute;
top: 60%;
}
.firstImgRow{
  width: 350px;
  height: 200px;
  padding-right: 15px;
}
.secondImgRow{
  width: 300px;
  height: 250px;
  padding-right: 15px;
}

#bkkTxtStyle{
  position: absolute;
  top:130%;
  left:10%;

}
.imgLocationTxtStyle{
    color: white;
      position: absolute;
      font-weight: bold;
        font-size: 24px;
          font-family: arial;
}
.imgHostNumTxtStyle{
  color: white;
    position: absolute;
        font-size: 18px;
}
#bkkHostPlaceTxtStyle{

  top:135%;
  left:10%;


}
#khoSamuiTxtStyle{
  top:80%;
  left:10%;
}
#khoSamuiHostPlaceTxtStyle{
top:85%;
left:10%;
}
#phuketTxtStyle{
  top:80%;
  left:52%;
}
#phuketHostPlaceTxtStyle{
top:85%;
left:52%;
}
#phiPhiTxtStyle{
  top:130%;
  left:38%;
}
#phiPhiHostPlaceTxtStyle{
  top:135%;
  left:38%;
}
#changMaiTxtStyle{
  top:130%;
  left:65%;
}
#changMaiHostPlaceTxtStyle{
  top:135%;
  left:65%;
}



.imgClass:hover{
  filter: blur(10px);
}

.iconImgClass{
    position: absolute;
    width: 200px;
     height: 100px;
     border-radius: 5px;

}
#samuiIcon{
  top:10%;
  left: 8%;
}
#phuketIcon{
top:10%;
left: 5%;

}
#bangkokIcon{
top:40%;
left: 3%;

}
.samuiInfo{
  position: absolute;
  height: 280px;
  width: 550px;

  top:75%;
  left: 8%;
    visibility: hidden;
}
.phuketInfo{
  position: absolute;
  height: 280px;
  width: 550px;

  top:75%;
  left: 50%;
    visibility: hidden;
}
.bangkokInfo{
  position: absolute;
  height: 280px;
  width: 250px;

  top:120%;
  left:9%;
    visibility: hidden;
}
#khoSamuiDiv:hover .samuiInfo{
  visibility: visible;
}
#khoSamuiDiv:hover .imgClass{
  filter: blur(10px);
}
#phuketDiv:hover .phuketInfo{
  visibility: visible;
}
#phuketDiv:hover .imgClass{
  filter: blur(10px);
}
#bkkDiv:hover .bangkokInfo{
  visibility: visible;
}
#bkkDiv:hover .imgClass{
  filter: blur(10px);
}

.cityInfo{
  column-fill: balance;
  column-count: 3;
  font-size: 24px;
  font-family: arial;
  color: black;
  vertical-align: bottom;
  padding-top: 25%;
}
